<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
     <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2>{{> header}}</h2>
 
  <h2>{{title}} in hbs page</h2>
 

  <h3>The Name is : {{name}}</h3>
   <h3>The City is : {{city}}</h3>
    <h3>The Age is : {{age}}</h3>
   
</body>
</html>